// * {
//     margin: 0;
//     padding: 0;
// }

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: IBMPlexMono-Regular;
    src: url('../fonts/IBMPlexMono-Regular.ttf');
}

@font-face {
    font-family: LeagueSpartan-SemiBold;
    src: url('../fonts/LeagueSpartan-SemiBold.ttf');
}

@font-face {
    font-family: LeagueSpartan-ExtraBold;
    src: url('../fonts/LeagueSpartan-ExtraBold.ttf');
}

@font-face {
    font-family: Staatliches-Regular;
    src: url('../fonts/Staatliches-Regular.ttf');
}

$primary-color: #1B263B;
$secondary-color: #415A77;
$tertiary-color: #BEC5AD;
$quaternary-color: #F44336;

.offcanvas {
    background-color: $primary-color;

    .offcanvas-body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        a {
            color: $quaternary-color;
            font-family: 'LeagueSpartan-ExtraBold', sans-serif;
            font-size: 1.4rem;
            text-decoration: none;
        }
    }
}

.offcanvas-close {
    background-color: $primary-color;
    border: none;
    height: 30px;
    width: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: "div";
    padding: 0;
    margin: 0;

    div {
        background-color: $quaternary-color;
        border-radius: 50px;
        height: 3px;
        grid-area: div;
        width: 100%;

        &:nth-of-type(1) {
            transform: rotateZ(45deg) translateX(10px) translateY(10px);
        }

        &:nth-of-type(2) {
            transform: rotateZ(-45deg) translateX(-10px) translateY(10px);
        }
    }
}

header {
    background-image: url('../images/blob1.png');
    background-size: cover;
    background-position: right calc(100vw - 320px) bottom;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    grid-template-rows: 72px calc(100% - 72px - 90px);
    min-height: 350px;
    transform-origin: right bottom;
    z-index: 1;

    nav {
        padding: 20px;

        ul {
            display: none;
        }

        div {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            padding: 5px;
            width: 40px;

            span {
                background-color: $quaternary-color;
                border-radius: 50px;
                width: 100%;
                height: 4px;
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;

        &>* {
            margin: 0;
        }

        p {
            color: $secondary-color;
            font-family: 'IBMPlexMono-Regular', sans-serif;
            font-size: .9rem;
        }

        h1,
        h3 {
            text-shadow: 0 0 5px black;
        }

        h1 {
            font-family: 'Poppins-SemiBold', sans-serif;
            margin-bottom: 5px;
        }

        h3 {
            color: $tertiary-color;
            font-family: 'LeagueSpartan-SemiBold', sans-serif;
        }

    }
}


main {
    font-family: 'Poppins-Regular', sans-serif;

    &>section {
        padding: 25px;

        h2 {
            color: $quaternary-color;
            font-family: 'LeagueSpartan-ExtraBold', sans-serif;
        }

        article {
            box-shadow: 0 0 3px gray;
            margin-bottom: 20px;

            img {
                max-width: 100%;
            }

            section {
                background-color: #eef1f5;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px;

                &>* {
                    margin: 0;
                }

                h3 {
                    color: $primary-color;
                    font-family: 'Staatliches-Regular', sans-serif;
                }

                div {
                    &:first-of-type {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 5px;
                    }

                    &:last-of-type {
                        display: flex;
                        gap: 10px;
                        justify-content: flex-end;

                        a {
                            background-color: $secondary-color;
                            border-radius: 5px;
                            color: white;
                            padding: 5px 10px;
                            text-decoration: none;

                            &.disabled {
                                background-color: #99abbe;
                                pointer-events: none;
                                cursor: default;
                            }
                        }
                    }

                    span {
                        border: 2px solid lighten($color: $secondary-color, $amount: 20);
                        border-radius: 5px;
                        color: lighten($color: $secondary-color, $amount: 20);
                        font-family: 'Staatliches-Regular', sans-serif;
                        padding: 2.5px 5px 1px 5px;
                    }
                }

                p {
                    color: $primary-color;
                    font-size: .9rem;
                }
            }
        }


        &:nth-of-type(1) {
            h2 {
                text-align: left;
            }

            article {
                border-radius: 10px;

                img {
                    border-radius: 10px 10px 0 0;
                }

                section {
                    border-radius: 0 0 10px 10px;
                }

            }
        }

        &:nth-of-type(2) {
            background-color: $primary-color;
            padding-top: 40px;

            div {
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
                justify-content: center;
                width: 90%;
                margin: 0 auto;
                margin-top: 20px;

                aside {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    img {
                        max-width: 50%;
                    }

                    p {
                        color: white;
                        font-family: 'Poppins-Regular', sans-serif;
                    }
                }
            }
        }

        &:nth-of-type(3) {
            div {
                img {
                    border-radius: 50%;
                    box-shadow: 0 0 5px gray;
                    display: block;
                    max-width: 70%;
                    margin: 0 auto;
                }

                p {
                    color: $primary-color;
                    font-size: .9rem;
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }

        &:nth-of-type(4) {
            background-color: $primary-color;
            padding-bottom: 40px;
            padding-top: 40px;

            img {
                max-width: 40px;
            }

            aside {
                color: white;
                text-align: center;
                margin: 40px 0;

                h4 {
                    font-family: 'IBMPlexMono-Regular' sans-serif;
                    font-size: 1.5rem;
                }

                p {
                    font-size: .9rem;
                }

                div {
                    display: flex;
                    justify-content: center;
                    gap: 10px;

                    a {
                        text-decoration: none;
                    }
                }
            }

            &>p {
                color: white;
                font-size: .9rem;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width:450px) {
    header {
        background-image: url('../images/blob2.png');
        background-position: right 30vw bottom -5vh;
        grid-template-rows: 72px calc(100% - 72px - 90px);
    }
}

@media screen and (min-width:500px) {
    html {
        font-size: 17px;
    }

    header {
        background-position: right 30vw bottom -5vh;
        height: 450px;
    }

    main {
        section {
            padding-left: 40px;
            padding-right: 40px;

            &:nth-of-type(3) {
                div {
                    img {
                        max-width: 50%;
                    }
                }
            }
        }
    }
}